nav ul{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 2px;
}
nav ul li{
    list-style: none;
    margin: 0 15px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 8px 12px;
    border-radius: 5px;
    background-color: rgb(2, 10, 85);
}
nav ul li a:hover{
    background-color: lightgreen;
}
