.BGImg{
    background-image: url("image.png");
    width: 500px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
}
.BGImg2{
    background-image: url("../../Module 1/images/image.png");
    width: 500px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
}